# Cross Validation with Cross Validate

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.linear_model import Ridge

In [5]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [6]:
from sklearn.model_selection import cross_validate

## Importing Dataset

In [7]:
df = pd.read_csv('Advertising.csv')

In [8]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [10]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

## Data Preparaing

In [11]:
X = df.drop('sales', axis=1)

In [12]:
y = df['sales']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

### Preprocessing

In [14]:
scaler = StandardScaler()

In [15]:
scaler.fit(X_train)

StandardScaler()

In [16]:
scaled_X_train = scaler.transform(X_train)

In [17]:
scaled_X_test = scaler.transform(X_test)

### Model 1

In [18]:
model_one = Ridge(alpha=100)

In [19]:
scores = cross_validate(model_one,
                        scaled_X_train,
                        y_train,
                        scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'],
                        cv=10)

In [20]:
scores_dataframe = pd.DataFrame(scores)

In [21]:
scores_dataframe

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002991,0.001004,-6.060671,-1.810212
1,0.001004,0.000991,-10.627031,-2.541958
2,0.000997,0.000998,-3.993426,-1.469594
3,0.000996,0.001997,-5.009494,-1.862769
4,0.000996,0.000997,-9.141800,-2.520697
5,0.001989,0.000000,-13.086256,-2.459995
6,0.001021,0.000998,-3.839405,-1.451971
7,0.000992,0.000000,-9.058786,-2.377395
8,0.000000,0.001004,-9.055457,-2.443344
9,0.001002,0.000000,-5.778882,-1.899797

In [22]:
scores_dataframe.mean()

fit_time                        0.001199
score_time                      0.000799
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

### Model 2

In [23]:
model_two = Ridge(alpha=1)

In [24]:
scores = cross_validate(model_two,
                        scaled_X_train,
                        y_train,
                        scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'],
                        cv=10)

In [25]:
scores_dataframe = pd.DataFrame(scores)

In [26]:
scores_dataframe

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002002,0.000000,-2.962508,-1.457174
1,0.000993,0.001013,-3.057378,-1.555308
2,0.001000,0.000989,-2.173740,-1.238770
3,0.001995,0.000990,-0.833034,-0.768938
4,0.001995,0.000000,-3.464018,-1.434489
5,0.000987,0.001997,-8.232647,-1.494316
6,0.001041,0.000952,-1.905864,-1.081362
7,0.001994,0.001038,-2.765048,-1.250011
8,0.000981,0.000000,-4.989505,-1.580971
9,0.000998,0.000972,-2.846438,-1.223326

In [27]:
scores_dataframe.mean()

fit_time                        0.001399
score_time                      0.000795
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

### Final Evaluation

In [28]:
model_two.fit(scaled_X_train, y_train)

Ridge(alpha=1)

In [29]:
final_predictions = model_two.predict(scaled_X_test)

In [30]:
print(f"MAE : {mean_absolute_error(y_test, final_predictions)}")
print(f"MSE : {mean_squared_error(y_test, final_predictions)}")
print(f"RMSE : {np.sqrt(mean_squared_error(y_test, final_predictions))}")

MAE : 1.2168768443580575
MSE : 2.3190215794287514
RMSE : 1.5228334050147283